@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}


.container{
    margin: 50px auto;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.188);
    width: 600px;
}

.input-wrapper{
    display: flex;
    margin-bottom: 40px;
}
.input-wrapper input{
    width: 80%;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    top: -7px;
}
.input-wrapper button{
    position: relative;
    top: -7px;
    margin-left: 10px;
    padding: 10px;
}


.user{
    color: rgb(0, 157, 248);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2em;
}
.comment{
    background-color: #f2f3f5;
    padding: 10px;
    margin-bottom: 2px;
}
.comment .user{
    margin-right: 5px;
    display: inline;
}
.comment>div{
    display: inline;
}

.comment .comment-response {
    display: flex ;
    justify-content: start;
}
.comment-response>a{
    margin-right: 10px;
}
.comment-response .totallikes {
    margin-left: auto;
  }
  .time {
    color: #0000007d;
    font-size: .9em;
}